[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ruff = "*"
seaborn = "*"
numpy = "*"
torch = "*"
torchvision = "*"

[dev-packages]

[requires]
python_version = "3.11"
